<h1><%= @video.title %></h1>
<%# Button to sync videos %>
<form action="<%= sync_video_path(@video) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Sync">
</form>
<%# End button to sync videos %>
<p><%= link_to "Edit", edit_video_path(@video)  %></p>
<%= @video.youtube_id %>
<%= @video.title %>
<%= @video.tags %>
<%= @video.chapter_markers %>
<%= @video.description_template.template %>
<textarea rows="20" cols="60"><%= @video.description %></textarea>
<%= video_embed(@video) %>
